@page "/"
@rendermode InteractiveServer

<PageTitle>Welcome to web blog 101</PageTitle>
<h2>Welcome to web blog application</h2>
<p>This web created for learn how to build CRUD with Blazor.</p>

@code {
    
}